.DS_Store
Thumbs.db
wp-cli.local.yml
node_modules/
*.zip
*.tar.gz
.idea
coverage/
build/
vendor/
c3.php
!/tests
/tests/*.suite.yml
/tests/_output
.env
.codeception.yml
composer.lock
.wp-env.override.json
assets/js/*
!assets/js/README.md
!assets/js/indexeddb.worker.js
assets/css/*
!assets/css/README.md
assets/asset-manifest.json
assets/static
assets/report.html
yarn.lock
.yarn/install-state.gz
.yarn/cache
hookdocs
*.cache
phpunit.xml
tests/logs/junit.xml
