@import "tailwindcss" prefix(wcpos);
@config "../tailwind.config.js";

@theme {
	/* Custom colors for WordPress admin theme */
	--color-wp-admin-theme-color: var(--wp-admin-theme-color, #007cba);
	--color-wp-admin-theme-color-darker-10: var(--wp-admin-theme-color-darker-10, #006ba1);
	--color-wp-admin-theme-color-darker-20: var(--wp-admin-theme-color-darker-20, #005a87);
	--color-wp-admin-theme-color-lightest: #e5f1f8;
	--color-wp-admin-theme-black: #1d2327;
}

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
	/* 1 */
	box-sizing: border-box;
	/* 2 */
	border-width: 0;
	/* 2 */
	border-style: solid;
	/* 2 */
	border-color: #e5e7eb;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

#woocommerce-pos-settings table {
	/* 1 */
	text-indent: 0;
	/* 2 */
	border-color: inherit;
	/* 3 */
	border-collapse: collapse;
}

/**
 * forms.css gives input[type="checkbox"] display: inline-block
 * we need it to be hidden sometimes 
 */
/* .wcpos-hidden {
	display: none !important;
} */

/**
 * Give JS 10 seconds to load before showing the error
 * @TODO - there must be a better way to do this
 */
#woocommerce-pos-js-error {
	animation: 10s wcposError;
	animation-fill-mode: forwards;
	visibility: hidden;
}

@keyframes wcposError {
	99% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}