* {
	box-sizing: inherit;
}

#wpcontent {
	padding-left: 0;
}

#woocommerce-pos-settings {
	background: #f6f6f6;
	font-size: 14px;
	position: relative;
	box-sizing: border-box;
	font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
