* {
	box-sizing: inherit;
}

#wpcontent {
	padding-left: 0;
	padding-right: 20px;

	.text-separator {
		padding: 0 10px;
	}
}

#woocommerce-pos-settings {
	background: #f6f6f6;
}

#woocommerce-pos-settings-footer {
	padding: 10px;
	text-align: center;

	#discord-badge {
		vertical-align: middle;
	}
}
