#woocommerce-pos-settings {
	max-width: 800px;
	margin: 20px auto;

	.text-separator {
		padding: 0 10px;
	}

	#woocommerce-pos-settings-header {
		background: #fff;
		text-align: center;
		padding: 10px;

		svg {
			width: 60px;
			vertical-align: middle;
		}

		h1 {
			display: inline;
			margin-left: 10px;
		}
	}

	.woocommerce-pos-settings-main {
		background: #fff;

		.flexColumn {
			flex-direction: column;
			align-items: flex-start;
		}

		> .components-tab-panel__tabs {
			justify-content: center;
		}

		> .components-tab-panel__tab-content {
			padding: 20px;
		}

		// tweaks to forms
		.components-panel__row {
			justify-content: flex-start;

			label {
				max-width: 100%;
			}

			.dashicons-editor-help::before {
				opacity: 0.3;
			}

			.components-combobox-control__suggestions-container {
				width: 200px;
			}
		}

		// tables
		.woocommerce-pos-table {
			width: 100%;
			border: 1px solid rgba($color: #000000, $alpha: 0.1);

			&-header {
				font-weight: bold;
				border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
			}

			&-row,
			&-header {
				display: flex;
				flex-direction: row;
				align-items: center;
				user-select: none;
			}

			&-cell {
				flex: 1 1 20%;
				padding: 10px;
			}
		}

		// access settings
		.woocommerce-pos-settings-access {
			&-tabs {
				display: flex;

				.components-tab-panel {
					&__tabs {
						width: 400px;

						&-item {
							&.active-tab {
								background-color: #e2e4e7;
								color: #000;
							}
						}
					}

					&__tab {
						&-content {
							flex: 1 1 auto;
							padding: 0 50px;
						}
					}
				}

				.capabilities {
					display: flex;
					flex-wrap: wrap;

					> div {
						flex: 1 0 50%;
					}
				}
			}
		}
	}

	#woocommerce-pos-settings-snackbars {
		width: 500px;
		height: 500px;
		position: fixed;
		bottom: 40px;
		left: 180px;
		pointer-events: none;

		@media only screen and (max-width: 960px) {
			left: 56px;
		}

		.components-snackbar-list {
			right: 1em;
			bottom: 1em;
		}
	}

	#woocommerce-pos-settings-footer {
		background: #fff;
		padding: 10px;
		text-align: center;
		margin: 20px 0;

		#discord-badge {
			vertical-align: middle;
		}
	}
}

// modals (outside #woocommerce-pos-settings)
.woocommerce-pos-settings-modal {
	.components-modal__content {
		.components-notice {
			margin: 0 0 20px 0 !important;
		}
	}
}
